.funny-glasses {
position: relative;
left: 13.3125em;
bottom: 6.6em;
}
.bandana {
position: relative;
right: 8em;
bottom: 3.9em;
}
.pawprint{
    position: fixed;
    top: 2.9em;
    left: 4.1em;
}
.luna{
    position: sticky;
    left: 0;
}
.top-hat{
    z-index: 1;
}